@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto&family=Roboto+Mono:wght@300;600;700&display=swap');

:root {
  --section-one-bg: #53834f;
  --section-one-text: #e0e0e0;
  --section-two-bg: rgb(50, 53, 51);
  --section-three-bg: #2c2c2c;
}

.app {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
  min-height: 100vh;
	width: 100%;
	overflow-x: hidden;
	background: var(--section-two-bg);
}

body {
  min-height: 100vh;
  text-align:center;
  display:flex;
  flex-direction:column;
}


/* ///////  Header ///////  */

.headerWrap {
  padding-top: 1.5rem;
  padding-bottom: 0rem;
  position: relative;
  width: 100%;
  display: inline;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--section-one-bg);
}

.mainHeader {
  font-family: Roboto Mono;
  font-size: 1.2rem;
  font-weight: bold;
  color: #d9e993;
  gap: 1.1rem;
  display: inline-flex;
  cursor: default;
}

.headerTxt {
  cursor: pointer;  
}

.headerTxt:hover  {
  color: #edf7c6;
}

.emailLink {
  font-family: Roboto Mono;
  font-size: 1.2rem;
  font-weight: bold;
  color: #d9e993;
  gap: 1.1rem;
  cursor: default;
}

/* ////// Intro ////// */

.introWrap {
	position: relative;
	align-items: center;
	text-align: center;
	display: flex;
  white-space: nowrap;
  flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	padding: 0rem 0rem 0rem 0rem;
}

.introText {
  display: flex;
  font-family: Roboto Mono;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--section-one-text);
  cursor: default;
  padding-top: 1rem;
}

.typed-cursor {
  display: flex;
  padding-top: 0.5rem;
  font-family: Roboto Mono;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--section-one-text);
}

/* //////// About Section + Wave ////////  */

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 900;
}

.aboutWrap {
background: var(--section-one-bg);
width: 100vw;
padding-top: 3rem;
}

.aboutSection {
	font-family: Roboto Mono;
	font-size: small;
	color: var(--section-one-text);
	max-width: 500px;
	background-color: var(--section-one-bg);
	padding: 0rem 2rem 0rem 2rem;
	cursor: default;
	margin-top: 7rem;
	margin-bottom: 7rem;
}

.aboutSubWrap {
	display: flex;
	padding: 0rem 2rem 0rem 0rem;
	justify-content: center;
	text-align: center;
	margin-top: -7rem;
	margin-bottom: -7rem;
}

.aboutImg {
    scale: 0.71;
    margin: -2rem;
  
}
.wave {
  margin-top: 3rem;
  left: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  background: var(--section-two-bg);
}

.wave svg {
  position: relative;
  overflow: hidden;
  display: block;
  width: calc(140% + 1.3px);
  height: 224px;
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.4));
  margin: -1px;
}

.wave .shape-fill {
  fill: var(--section-one-bg);
}

/* //////// Stack + Portfolio Section //////// */

.stackWrap {
	position: relative;
	display: flex;
	text-align: center;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background-color: var(--section-two-bg);
	width: auto;
	height: auto;
	z-index: 1100;
	padding: 0rem 2rem 2rem 2rem;
	margin-top: -5rem;
}

.stackIntro {
	background-color: var(--section-two-bg);
	font-family: Roboto Mono;
	font-size: 0.86rem;
	font-weight: bold;
	width: 100vw;
	color: var(--section-one-text);
	cursor: default;
	padding: 0rem 3rem 0rem 3rem;
  text-shadow:  3px 3px #000000;
}

.stackIcons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 100vw;
  flex-wrap: wrap;
  padding: 0.5rem;
  justify-content: center;
}

.icons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: Roboto Mono;
  font-size: 0.8rem;
  color: var(--section-one-text);
  font-weight: bold;
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.4));
  padding: 0rem 0rem 0.5rem 0rem;
}

.projectsWrap {
	display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
  align-content: center;
	text-align: center;
	width: 100vw;
	background-color: var(--section-two-bg);
	flex-wrap: wrap;
  padding: 0rem 2rem 2rem 2rem;
}

.projectsIntro {
  font-family: Roboto Mono;
	font-size: 1rem;
	color: var(--section-one-text);
  cursor: default;
	padding: 0rem 3rem 0rem 3rem;
  font-weight: bold;
  margin-top: 4rem;
}

.chitchatlyWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.chitchatly {
	font-family: Roboto Mono;
	font-size: 2rem;
	color: rgb(118, 207, 118);
  cursor: default;
	padding: 0rem 3rem 0rem 3rem;
  text-shadow:  3px 3px #000000;
  font-weight: bold;
  margin: 1rem;
} 

.chitchatlygif {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
}

.ccdescription {
  font-family: Roboto Mono;
	font-size: 1rem;
	color: var(--section-one-text);
  cursor: default;
	padding: 0rem 3rem 0rem 3rem;
  font-weight: bold;
  position: relative;
  top: 0rem;
}

.cclink {
  font-size: 1.5rem;
  cursor: pointer;
  color: #cfcf90;
  width: fit-content;
}

.cclink:hover {
  color: #e6e6a5;;
}

.cctech {
  position: relative;
  top: 1.6rem;
}

.ccgit {
	font-family: Roboto Mono;
	font-size: 1.2rem;
	color: var(--section-one-text);
  cursor: default;
	padding: 0rem 3rem 0rem 3rem;
  text-shadow:  3px 3px #000000;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.ccgit:hover {
  color: rgb(207, 206, 206);
}


/* ------- E-Comm Store --------*/

.e-comm {
  font-family: Roboto Mono;
	font-size: 2rem;
	color: rgb(118, 207, 118);
  cursor: default;
	padding: 0rem 3rem 0rem 3rem;
  text-shadow:  3px 3px #000000;
  font-weight: bold;
  margin-top: 4.5rem;
    margin-bottom: 1rem;
}

.e-commWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: start;
}

.cmdfashion {
  margin-top: 2rem;
  position: relative;
  display: flex;
  flex-direction: row;
}

.ecomdescription {
  font-family: Roboto Mono;
	font-size: 1rem;
	color: var(--section-one-text);
  cursor: default;
	padding: 0rem 3rem 0rem 3rem;
  font-weight: bold;
  position: relative;
  top: -1.4rem;
}

.ecomlink {
  font-size: 1.5rem;
  cursor: pointer;
  color: #cfcf90;
  width: fit-content;
}

.ecomlink:hover {
  color: #e6e6a5;;
}

.ecomtech {
  position: relative;
  top: 1.6rem;
}

.ecomgit {
	font-family: Roboto Mono;
	font-size: 1.2rem;
	color: var(--section-one-text);
  cursor: default;
	padding: 0rem 3rem 0rem 3rem;
  text-shadow:  3px 3px #000000;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  width: fit-content;
}

.ecomgit:hover {
  color: rgb(207, 206, 206);
}

/* //////// Footer Section + Wave //////// */

.footerWrap {
	background-color: var(--section-one-bg);
	width: 100vw;
	z-index: 1100;
	margin-top: auto;
	position: relative;
	display: flex;
  flex-direction: column;
  align-items: center;
  text-overflow: clip;
  flex-wrap: wrap;
  white-space: normal;
	bottom: 0;
}

.footerWave {
  left: 0;
  width: 100vw;
  overflow-x: hidden;
  background: var(--section-three-bg);
}

.footerWave svg {
  position: relative;
  overflow-x: hidden;
  width: calc(140% + 1.3px);
  height: 220px;
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.4));
  margin-top: -1px;
}

.footerWave .shape-fill {
  fill: var(--section-two-bg);
}

.footerText {
	font-family: Roboto Mono;
	font-size: 0.66rem;
	color: var(--section-one-text);
	cursor: text;
  position: absolute;
  bottom: 3rem;
  width: 100%;
}


@media screen and (max-width: 900px) {
  .aboutImg {
    display: none;
  }
}
  